<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.study001.repository.MemberMapper">

    <select id="getMemberList" resultType="Member">
        SELECT 
            SEQ
            , ID
            , MEMBER_NAME
            , MEMBER_TAG
        FROM 
            STUDY_MEMBER
        WHERE
            1=1            
    </select>
</mapper>